* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SUSE", sans-serif;
}

.sticky {
  position: sticky;
}
body {
  background-color: rgb(210, 255, 210);
}
h1 {
  background-color: rgb(255, 207, 118);
  border-color: brown;
  border: 2px solid rgb(135, 0, 0);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #db0038;
}
h2 {
  background-color: rgb(255, 207, 118);
  text-align: center;
  color: #3998a3;
}

h3 {
  text-align: center;
  color: #8a0f0f;
}
img {
  width: 700px;
  height: 600px;
  width: 100%;
}
.container {
  width: 800px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}
p {
  color: #707070;
}
li {
  color: #707070;
  padding-top: 5px;
  padding-bottom: 5px;
}
section {
  background-color: rgb(255, 237, 237);
  box-shadow: 8px 8px 10px;
  padding-inline: 50px;
  text-shadow: 2px 2px 2px #db0038;
}
.star {
  color: #f4b400;
  size: 25px;
}
footer {
  text-align: center;
}
.lastone {
  text-align: center;
  text-decoration: wavy;
}
